body{
  background-color: black;
}




.navigation-bar-flex,.navigation-bar-left-flex,.navigation-left-options-flex,.navigation-bar-right-flex,.navigation-right-options-flex{
  display:flex;
  justify-content: space-between;
}
.navigation-bar-flex{
  background-color: #423F3E;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.navigation-bar-left-flex{
  margin-left: 6%;
}
.navigation-left-options-flex{
  width: 60%;
  position: relative;
  right:13%;
}
.nvidea-logo{
  width: 20%;
  height: 90%;
  border-radius: 7%;
  margin-top: 3px;
}
.navigation-bar-right-flex{
  width: 20%;
  position: relative;
  right:3%;
}
.navigation-right-options-flex{
  width: 70%;
  position: relative;
  right:13%;
}
.emoji{
  display: flex;
  justify-content: space-between;
  width: 25%;
}
h5{
  font-size: 90%;
  font-family: Arial,Helvetica,Sans-Serif;
}
a{
  text-decoration:none;
  color:#7F7C82;
}
a:hover{
  color: white;
  transition-duration: 1s;
  font-size: 104%;
}





.banner-flex{
  background-color: black;
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  top:2%;
  right: 0;
  left: 0;
}
.banner-text-left{
  width: 55%;
  color: white;
  position:relative;
  margin: 10% 10%;
  margin-left: 6%;
}
.banner-button{
  height: 20%;
  width: 30%;
  border-radius: 10px;
  background-color: #76b900;
  color: black;

}
.banner-button:hover{
  background-color:#379237;
  color: white;
  transition-duration: 1s;
  width: 32%;
  height: 22%;
}



.shop-flex{
  position: relative;
  top: 0;
  margin-top: 0;

  text-align: center;
}
.shop-section{
  width: 22%;
  height: 30%;
  border-radius: 5%;
  background-color: #2B2B2B;
}
.shop-section-flex{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.shop-section-1-image{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.shop-section-1{
  background-color: #2B2B2B;
  border-radius: 4%;
}
.shop-section-2{
  background-color: #2B2B2B;
}
h3,p{margin-left: 5%;
  text-align: left;
  color: white;
  font-family: Arial,Helvetica,Sans-Serif;
}
h1,h5,h4{
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}
.shop-flex-2{
  position: relative;
  top: 0px;
}
.shop-section:hover{
  width: 25%;
  height: 33%;
  background-color: #423F3E;
  transition-duration: 1.5s;
}

.footer-outer{
  background-color: #2B2B2B;
  position: relative;
  top: 150px;
  color: white;
}
